[Unit]
Description=InfluxDB 2 Beta Service
Wants=network-online.target
After=network-online.target

[Service]
Environment="INFLUXD_BOLT_PATH=/var/lib/influxdb2/influxd.bolt"
Environment="INFLUXD_ENGINE_PATH=/var/lib/influxdb2/engine"
Type=simple
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/bin/influxd
SyslogIdentifier=influxdb2beta
Restart=always

[Install]
WantedBy=multi-user.target
